{% extends "timeline.html" %}
<!--用来表示中间部分的时间线-->
{% block leftbar %}
    {% include "leftbar.html" %}
{% endblock %}

{% block coms %}
<div>
                        {% for cm in cms %}
                        <table class="table table-bordered"width="100%" rules=none>
                            <thead>
                                <th>
                                    <div class="media-left col-sm-2" alt="头像">
                                        <a href="/user/{{ cm.user }}"><img src="/img/{{ cm.user.profilePhoto }}" class="img-responsive img-circle"></a>
                                    </div>
                                    <h5 class="media-heading">
                                        <a href="/user/{{ cm.user }}">{{ cm.user }}</a>
                                    </h5>
                                </th>
                            </thead>
                            <tbody>
                                <tr><td><p class="content">{{ cm.content }}</p></td></tr>
                                <tr>
                                    <td><a href="{% url 'clike' cm.ID%}">{{ cm.cl.all.count }} 点赞</a><h6 class="text-right">{{ cm.time }}</h6></td>
                                </tr>
                            </tbody>
                        </table>
                        {% endfor %}
                    </div>
{% endblock %}

{% block rightbar %}
{% include "rightbar.html" %}
{% endblock %}