{% extends "timeline.html" %}
<!--用来表示中间部分的时间线-->
{% block leftbar %}
    {% include "leftbar.html" %}
{% endblock %}

{% block pub %}
<div>
    <div>
        <div class="photo">
            <img alt="头像" src="/img/{{ user.profilePhoto }}" class="img-responsive img-circle">
        </div>
        <form action="{% url 'changeuser'%}" method="post" role="search" id="f" enctype="multipart/form-data" role="form" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <label for="pic" class="col-sm-4 control-label">修改头像</label>
                <div class="col-sm-8">
                    <input type="file" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" name="pic" id="pic" value="/img/{{ user.profilePhoto }}">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-4 control-label">修改邮箱</label>
                <div class="col-sm-8">
                    <input autofocus class="form-control" type="text" name="email" id="email" value="{{ user.email }}" placeholder="Email">
                </div>
            </div>
        </form>
    </div>

   <h5 class="media-heading">
       <a href="/user/{{ msg.user }}">{{ msg.user }}</a>
   </h5>

</div>
{% endblock %}

{% block rightbar %}
{% include "rightbar.html" %}
{% endblock %}