{% extends "timeline.html" %}
<!--输入框-->
{% block leftbar %}
    {% include "leftbar.html" %}
{% endblock %}

{% block pub %}
                <!--发布消息-->
                {% if user.is_authenticated %}
                <div class="row bdc pub">
                    <form action="/publish" method="post" role="search" id="f" enctype="multipart/form-data">
                        {% csrf_token %}
                        <textarea class="form-control" name="content" id="content" placeholder="发布新消息吧！"></textarea>
                        <div>
                            <span>
                                <input type="file" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" name="picture" id="picture">
                                <input type="hidden" id="h" name="h" value="n">
                            </span>
                            <span>
                                <button class="btn btn-default" type="button" id="fan" onclick="fun1()">粉丝可见</button>
                            </span>
                            <span>
                                <button class="btn btn-default" type="button" id="sub" onclick="fun2()">发布博文</button>
                            </span>
                        </div>
                    </form>
                </div>
                {% endif %}

                <script>
                    function fun1(){
                        var h=document.getElementById("h");
                        var b=document.getElementById("fan");
                        if(h.value=="y"){
                            b.className="btn btn-default"
                            h.value="n"
                        }
                        else{
                            b.className="btn btn-success"
                            h.value="y"
                        }
                    }
                    function fun2(){
                        var c=document.getElementById("content");
                        if(c.value==""){
                            alert("请输入内容！");
                        }
                        else {
                            var f=document.getElementById("f");
                            var h=document.getElementById("h");
                            var b=document.getElementById("fan");
                            b.className="btn btn-default"
                            h.value="n"
                            f.submit()
                        }
                    }
                </script>
{% endblock %}

{% block rightbar %}
{% include "rightbar.html" %}
{% endblock %}