{% extends "timeline.html" %}
<!--用来填充左右边栏和输入框-->
{% block left %}
            <!--左侧边栏-->
            <div class="col-sm-3" >
                {% if user.is_authenticated %}
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{% url 'index' %}">首页</a>
                    </li>
                    <li class="list-group-item">
                        <span class="badge">new</span><!--这个是新消息提示-->
                        <a href="#">通知</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">我的收藏</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">我的评论</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">我的点赞</a>
                    </li>
                </ul>
                {% endif %}
            </div>
{% endblock %}

{% block pub %}
                <!--发布消息-->
                {% if user.is_authenticated %}
                <div>
                    <form action="/publish" method="post" role="search" id="f">
                        {% csrf_token %}
                        <textarea class="form-control" name="content" placeholder="发布新消息吧！"></textarea>
                        <div>
                            <span>
                                <input type="file" class="btn btn-default" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" name="picture" id="picture">
                                <input type="hidden" id="h" name="h" value="n">
                            </span>
                            <span>
                                <button class="btn btn-default" type="button" id="fan" onclick="fun1()">粉丝可见</button>
                            </span>
                            <span>
                                <button class="btn btn-default" type="button" id="sub" onclick="fun2()">发布博文</button>
                            </span>
                        </div>
                    </form>
                </div>
                {% endif %}

                <script>
                    function fun1(){
                        var h=document.getElementById("h");
                        var b=document.getElementById("fan");
                        if(h.value=="y"){
                            b.className="btn btn-default"
                            h.value="n"
                        }
                        else{
                            b.className="btn btn-success"
                            h.value="y"
                        }
                    }
                    function fun2(){
                        var f=document.getElementById("f");
                        var h=document.getElementById("h");
                        var b=document.getElementById("fan");
                        b.className="btn btn-default"
                        h.value="n"
                        f.submit()
                    }
                </script>
{% endblock %}

{% block right %}
            <!--右侧边栏-->
            <div class="col-sm-3" >
                {% if user.is_authenticated %}
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="#">我的关注</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">我的粉丝</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">背景设置</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">用户设置</a>
                    </li>
                </ul>
                {% endif %}
            </div>
{% endblock %}