{% extends "timeline.html" %}
<!--用来表示中间部分的时间线-->
{% block leftbar %}
    {% include "leftbar.html" %}
{% endblock %}

{% block pub %}
<div >
    <div><h3 class="msg-content" style="color:{{ bg.font_color }};">{{ content }}列表</h3></div> <!--关注、粉丝列表 -->
    <div><p class="msg-content">你的{{ content }}数量为：{{fs.count}}</p></div>
    <div id="user" class="search-user">
        {% if flag %}
        {% for f in fs %}
        <div class="media row bdc">
            <div class="media-left col-sm-2">
                <a href="/user/{{ f.following }}"><img alt="头像" src="/img/{{ f.following.profilePhoto }}" class="img-responsive img-circle"></a>
            </div>
            <h4 class="media-heading">
                <a class="link-color" href="/user/{{ f.following }}">{{ f.following.username }}</a>
            </h4>
            <p class="msg-content">{{ f.following.introduction }}</p>
        </div>
        {% endfor %}
        {% else %}
        {% for f in fs %}
        <div class="media row bdc">
            <div class="media-left col-sm-2">
                <a href="/user/{{ f.fans }}"><img alt="头像" src="/img/{{ f.fans.profilePhoto }}" class="img-responsive img-circle"></a>
            </div>
            <h4 class="media-heading">
                <a class="link-color" href="/user/{{ f.fans }}">{{ f.fans.username }}</a>
            </h4>
            <p>{{ f.fans.introduction }}</p>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block rightbar %}
{% include "rightbar.html" %}
{% endblock %}