{% extends "index.html" %}
<!--用来表示中间部分的时间线-->
{% block left %}
            <!--左侧边栏-->
            <div class="col-sm-3" >
                {% if user.is_authenticated %}
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{% url 'index' %}">首页</a>
                    </li>
                    <li class="list-group-item">
                        <span class="badge">new</span><!--这个是新消息提示-->
                        <a href="{% url 'notice' %}">通知</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'listcollect' %}">我的收藏</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'listcomment' %}">我的评论</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'listlike' %}">我的点赞</a>
                    </li>
                </ul>
                {% endif %}
            </div>
{% endblock %}
{% block pub %}
<div >
    <div><h3>{{ content }}列表</h3></div> <!--关注、粉丝列表 -->
    <div><h5>你的{{ content }}数量为：{{fs.count}}</h5></div>
    {% for f in fs %}
    <table class="table table-bordered" rules=none>
        <thead>
            <th>   
                <div class="media-left col-sm-2" alt="头像">
                    <a href="/user/{{ f.following }}"><img src="/img/{{ f.following.profilePhoto }}" class="img-responsive img-circle"></a>
                </div> 
                <h5 class="media-heading">
                    <a href="/user/{{ f.following }}">{{ f.following }}</a>
                </h5>
            </th>
        </thead>
        <tbody>
            <tr><td><p class="content">{{ f.following.introduction }}</p></td></tr>
        </tbody>
    </table>


    {% endfor %}

</div>


{% endblock %}
{% block right %}
            <!--右侧边栏-->
            <div class="col-sm-3" >
                {% if user.is_authenticated %}
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{% url 'listfollow' %}">我的关注</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'listfan' %}">我的粉丝</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'back' %}">背景设置</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'cu' %}">用户设置</a>
                    </li>
                </ul>
                {% endif %}
            </div>
{% endblock %}