{% extends "layout.html" %}
<!--用来表示中间部分的时间线-->
{% block center %}
            <!--中间主体-->
            <div class="col-sm-6" >
                {% block pub %}
                {% endblock %}
                <!--这是博文格式-->
                <div id="blog">
                    {% for msg in msgs %}
                    <div class="media row bdc" id="timeline">
                        <div class="media-left col-sm-2">
                             <a href="/user/{{ msg.user }}"><img alt="头像" src="/img/{{ msg.user.profilePhoto }}" class="img-responsive img-circle"></a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading link-color">
                                <a href="/user/{{ msg.user }}">{{ msg.user }}</a>
                            </h4>
                            <p class="msg-content">{{ msg.content }}</p>
                            <!--原博-->
                            {% if msg.o_ID %}
                            <div class="media border-style">
                                <div>
                                    <a href="/user/{{ msg.o_ID.user }}">{{ msg.o_ID.user }}</a>
                                    <p class="msg-content">{{ msg.o_ID.content }}</p>
                                    {% if msg.o_ID.pic %}
                                    <img src="/img/{{ msg.o_ID.pic }}" class="img-responsive">
                                    {% else %}
                                    <div style="height:40px;"></div>
                                    {% endif %}
                                </div>
                            </div>

                                <div>
                                    <ul class="list-group list-group-horizontal text-center list-sub">
                                        <li><a href="{% url 'bloginf' msg.ID%}">转发</a></li>
                                        <li><a href="{% url 'bloginf' msg.ID%}">{{ msg.cm.all.count }} 评论</a></li>
                                        <li><a href="{% url 'mlike' msg.ID%}">{{ msg.ml.all.count }} 点赞</a></li>
                                        <li><a href="{% url 'collect' msg.ID%}">收藏</a></li>
                                    </ul>
                                </div>
                            {% else %}
                                {% if msg.pic %}
                                <img src="/img/{{ msg.pic }}" class="img-responsive">
                                {% else %}
                                <div style="height:40px;"></div>
                                {% endif %}
                            {% endif %}
                        </div>
                        {% if user.is_authenticated %}
                        <div>
                            <ul class="list-group list-group-horizontal text-center" id="btns">
                                <li class="list-group-item"><a data-toggle="collapse" data-target="#relay{{msg.ID}}">转发</a></li>
                                <li class="list-group-item"><a href="{% url 'bloginf' msg.ID%}">{{ msg.cm.all.count }} 评论</a></li>
                                <li class="list-group-item"><a href="{% url 'mlike' msg.ID%}">{{ msg.ml.all.count }} 点赞</a></li>
                                <li class="list-group-item"><a href="{% url 'collect' msg.ID%}">收藏</a></li>
                            </ul>
                        </div>
                        <div id="relay{{msg.ID}}" class="collapse relay">
                            <form action="{% url 'relay' msg.ID%}" method="post" role="search">
                                {% csrf_token %}
                                <textarea class="form-control relay-text" name="content" placeholder="请输入你的转发内容"></textarea>
                                <div>
                                    <input class="btn btn-default" type="submit" value="转发">
                                </div>
                            </form>
                        </div>
                    {% endif %}
                    {% block coms %}
                    {% endblock %}
                    </div>
                    {% endfor %}
                </div>
            </div>

{% endblock %}