{% extends "layout.html" %}
<!--用来表示中间部分的时间线-->
{% block body %}
    {% block top %}
    {% endblock %}
    <div class="container">
        <div class="row" >
            {% block left %}
            {% endblock %}
            <!--中间主体-->
            <div class="col-sm-6 {{ c_style }}" >
                {% block pub %}
                {% endblock %}
                <!--这是博文格式-->
                {% for msg in msgs %}
                <div class="media row" id="timeline">
                    <div class="media-left col-sm-2" alt="头像">
                         <a href="/user/{{ msg.user }}"><img src="/img/{{ msg.user.profilePhoto }}" class="img-responsive img-circle"></a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <a href="/user/{{ msg.user }}">{{ msg.user }}</a>
                        </h5>
                        <p class="content">{{ msg.content }}</p>
                        <img src="/img/{{ msg.pic }}" class="img-responsive">
                    </div>
                    {% if user.is_authenticated %}
                    <div>
                        <ul class="nav navbar-nav" id="btns">
                            <li><a data-toggle="collapse" data-target="#demo">转发</a></li>
                            <li><a href="{% url 'bloginf' msg.ID%}">{{ msg.cm.all.count }} 评论</a></li>
                            <li><a href="{% url 'mlike' msg.ID%}">{{ msg.ml.all.count }} 点赞</a></li>
                            <li><a href="{% url 'collect' msg.ID%}">收藏</a></li>

                        </ul>
                    </div>
                    <div id="demo" class="collapse">
                        <form action="{% url 'relay' msg.ID%}" method="post" role="search">
                            {% csrf_token %}
                            <textarea class="form-control" name="content" placeholder="请输入你的转发内容"></textarea>
                            <div>
                                <input class="btn btn-default" type="submit" value="转发">
                            </div>
                        </form>
                    </div>
                    {% endif %}

                </div>
                {% endfor %}
            </div>
            {% block right %}
            {% endblock %}
        </div>
    </div>
{% endblock %}